@import "tailwindcss";

@theme {
  --font-dm: "DM Sans", sans-serif;
}
body {
  font-family: var(--font-dm);
  color: #5A5A5A;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.text-body {
  font-family: var(--font-dm);
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0;
  font-weight: 400;
}