@import "tailwindcss";

@theme {
  --font-dm: "DM Sans", sans-serif;
}

body {  
  font-family: var(--font-dm);
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0;
  font-weight: 400;
  color: #5a5a5a;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.text-body {
  font-family: var(--font-dm);
  font-size: 16px;
  line-height: 20.8px;
  letter-spacing: 0;
  font-weight: 400;
}
.marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.marquee__group {
  display: flex;
  white-space: nowrap;
  animation: marquee-scroll 25s linear infinite;
}

.marquee__group1 {
  animation: marquee-scroll 25s linear infinite;

}
.marquee__group span {
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .marquee__group span {
    font-size: 120px;
    padding-right: 50px;
  }
}

@media (min-width: 1024px) {
  .marquee__group span {
    font-size: 170px;
    padding-right: 80px;
  }
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.6s ease-out forwards;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}
